{% extends "@Tsugi/Page.twig" %}

{% block head %}
    {% for style in styles %}
        <link rel="stylesheet" type="text/css" href="{{style}}"/>
    {% endfor %}
{% endblock %}

{% block content %}   
    {% if app.tsugi.user.instructor %}
        <div id="application">

            <ul class="nav nav-tabs">
                <!--li><h1 style="margin-top: 0px;margin-bottom: 0px;padding-right: 20px;">One Button Studio: </h1></li-->
                {% if isAdmin %}<li class="active"><a href="#" rel="admin">Dashboard</a></li>{% endif %}
                <li {% if not isAdmin %} class="active" {% endif %}><a href="#" rel="schedule">Schedule</a></li>
                <li><a href="#" rel="rec">Recordings</a></li>
            </ul>
            
            <div id="rec" class="tab-content" style="display:none">
                <div>
                    <table id="grid" class="table table-bordered table-hover" style="margin-top: 10px;">
                        <thead>
                            <tr>
                            <th class="text-center" style="width: 1rem;">
                            </th>
                            <th style="width: 160px;">&nbsp;</th>
                            <th data-column="title" data-sort="true" data-sortdir="asc" style="width: calc((100% - 30rem)/3)">Title</th>
                            <th data-column="start_date" data-sort="true" data-sortdir="asc" data-sorttype="date" style="width: calc((100% - 30rem)/3)">Date</th>
                            <th data-column="status" data-sort="true" data-sortdir="asc" style="width: 10em">Status</th>
                            <th style="width: 7em">Manage</th>
                        </tr></thead>
                        <tbody id="grid-body">
                    
                            <tr id="row-0375c238-e079-4db4-83f8-d1cdac37d9ba" data-status="Published">
                                <td class="text-center">
                                <input type="checkbox" id="chk-0375c238-e079-4db4-83f8-d1cdac37d9ba">
                                </label></td>
                                <td><img src="http://localhost/tsugi-static/img/1.png" class="img-responsive" style="border: 1px solid #222;"/></td>
                                <td>Teaching and Learning (Take 1)</td>
                                <td>Thu 25 May 2015, 13:00</td>
                                <td>Ready</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            {% if isAdmin %}
            <div id="admin" class="tab-content">
                <div id="dashboard">
                    <article id="view" style="height:360px;">
                    </article>
                    <aside id="summary">
                        <!-- second chart group -->
                        <div class="chart-block" style="padding:28px">
                            120 <div id="line2" style="vertical-align: middle; display: inline-block; width: 100px; height: 30px;"></div> 
                            6% <div id="column2" style="vertical-align: middle;display: inline-block; width: 110px; height: 30px;"></div>
                        </div>
                    </aside>
                </div>

                <pre>{{display_settings}}</pre>
                <pre>{{json}}</pre>
                
                <ol>
                    {% for key, value in _context  %}
                        {% if (key != 'app') and (key != '_parent') %}
                        <li>{{ key }}: 
                            {# evaluates to true if the foo variable is iterable #}
                            {% if value is iterable %}
                                <ul>
                                {% for k, v in value %}
                                    <li>{{ k }}: {{ v }}</li>
                                {% endfor %}
                                </ul>
                            {% else %}
                                {# value is probably a string #}
                                {{ value }}
                            {% endif %}
                        </li>
                        {% endif %}
                    {% endfor %}
                </ol>
            </div>
            {% endif %}

            <div id="schedule" class="tab-content" {% if isAdmin %}style="display:none"{% endif %}>
                <div class="row">
                    <div class="col-xs-9 text-center" style="padding-top: 12px;margin-bottom: 0px;">
                        <h4 id="month-title-container">
                            <a href="#" class="glyphicon glyphicon-chevron-left"></a>
                            <span id="month-title"></span>
                            <a href="#" class="glyphicon glyphicon-chevron-right"></a>
                        </h4>
                    </div>
                    <div id="timer-container" class="col-xs-3">
                        <ul class="nav nav-pills" style="float: right;margin-top: 20px;">
                            <!--li role="date-filter"><a href="#">Week</a></li-->
                            <li role="date-filter" class="active"><a href="#">Month</a></li>
                            <li role="date-filter" data-goto="today" style="border-left: 1px solid #ccc; margin-left: 15px; padding-left:8px;"><a href="#">Today</a></li>
                        </ul>
                    </div>
                </div>

                <div>
                    <div class="row">
                        <div class="col-xs-9" id="calendar" style="padding-right: 0px;"></div>
                        <div class="col-xs-3" style="padding-left: 0px;">
                            <table>
                                <thead>
                                    <tr>
                                        <th style="padding-left:10px;">My Bookings</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div id="agenda" class="record">
                                                <div class="time">June 5, 2017&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;13:30 - 14:15</div>
                                                <div class="title">Using Opencast as the cornerstone for the delivery of interactive, annotated multimedia learning, in Sakai and Tsugi</div>
                                            </div>
                                            <div style="padding:2em 0px" class="text-center">
                                                <button class="btn btn-success"><i class="glyphicon glyphicon-plus" style="margin-right: 8px;"></i>Add a booking...</button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <!-- Legend -->
                            <div class="legend row">
                                <div class="col-xs-12">
                                    <div class="box"></diV>
                                    <div class="text">Unavailable</diV>
                                </div>
                                <div class="col-xs-12">
                                    <div class="box me"></diV>
                                    <div class="text">My bookings</diV>
                                </div>
                                <div class="col-xs-12">
                                    <div class="box used">
                                        <div id="triangle-topleft"></div>
                                    </diV>
                                    <div class="text">Available</diV>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Using Opencast as the cornerstone for the delivery of interactive, annotated multimedia learning, in Sakai and Tsugi</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row nopadding" style="margin-bottom: 10px;">
                                <div class="col-xs-2 text-right">
                                    <label for="exampleInputEmail1" style="margin-bottom: 0px;margin-top: 7px;padding-right: 8px;">Title</label>
                                </div>
                                <div class="col-xs-10" style="padding-right: 15px;">
                                    <input class="form-control" id="exampleInputEmail1" placeholder="Title" value="Using Opencast as the cornerstone for the delivery of interactive, annotated multimedia learning, in Sakai and Tsugi." type="text">
                                </div>
                            </div>
                            <div class="row nopadding" style="margin-bottom: 10px;">
                                <div class="col-xs-2 text-right">
                                    <label for="exampleInputEmail1" style="margin-bottom: 0px;margin-top: 7px;padding-right: 8px;">Date</label>
                                </div>
                                <div class="col-xs-10" style="padding-right: 15px;">
                                    <div class="input-group" style="width:100%">
                                        <input class="form-control" id="exampleInputEmail1" placeholder="Title" value="June 5, 2017" style="width:150px;float:left;display:inline-block" type="text">
                                        <button class="btn" type="button" style="float:left;display:inline-block; border-radius: 0px 4px 4px 0px;"><i class="fa fa-calendar-o" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="row nopadding" style="margin-bottom: 10px;">
                                <div class="col-xs-2 text-right">
                                    <label for="exampleInputPassword1" style="margin-bottom: 0px;margin-top: 7px;padding-right: 8px;">Time Slot</label>
                                </div>
                                <div class="col-xs-10" style="padding-right: 15px;">
                                    <button class="btn" type="button"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>

                                    <div class="input-group" style="float:left; display:inline-block; width:120px">
                                        <input class="form-control" id="exampleInputPassword1" value="13" style="float:left; width:45px;border-right-width:0px;" type="text">
                                        <div class="input-group-addon" style="width:20px;height: 34px;float:left;">:</div>
                                        <input class="form-control" id="exampleInputPassword1" value="30" style="float:left; width:45px; border-left-width:0px;" type="text">
                                    </div>

                                    <div style="float:left;display:inline-block;padding-left: 16px;padding-right: 16px;font-size: 30px;font-size: 22px;">-</div>

                                    <div class="input-group" style="float:left; display:inline-block; width:140px">
                                        <input class="form-control" id="exampleInputPassword1" value="14" style="float:left; width:45px;border-right-width:0px;" readonly="true" type="text">
                                        <div class="input-group-addon" style="width:20px;height: 34px;float:left;">:</div>
                                        <input class="form-control" id="exampleInputPassword1" value="15" style="float:left; width:45px; border-left-width:0px;" readonly="true" type="text">
                                    </div>

                                    <button class="btn btn-primary" type="button"><i class="fa fa-clock-o" aria-hidden="true"></i></button>

                                    <button class="btn" type="button"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                </div>
                            </div>
                            <div class="row nopadding" style="margin-bottom: 10px;">
                                <div class="col-xs-2 text-right">
                                    <label for="exampleInputPassword1" style="margin-bottom: 0px;margin-top: 7px;padding-right: 8px;">Options</label>
                                </div>
                                <div class="col-xs-5" style="padding-right: 15px;">

                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" checked="true"> Upload presentation
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Table
                                        </label>
                                    </div>   
                                </div>
                                <div class="col-xs-5" style="padding-right: 15px;">
                                    <div style="background: url('http://localhost/tsugi-static/img/pres.png') center center; width:230px; height:129px;text-align:center">
                                        <button class="btn" style="margin-top: 50px;">Change...</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">

                        <div class="row">
                                <div class="col-xs-10 col-xs-offset-2">
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        
                    </div>
                    </div>
                </div>
            </div>

        </div><!-- end application -->
    {% endif %}
{% endblock %}

{% block footer %}
{% for script in scripts %}
    <script src="{{script}}" type="text/javascript"></script>
{% endfor %}
    <script type="text/javascript">    
        var initial_data = {{json | raw }}, data = [], current_date = new Date(), current = {}, refresh_id = null;

            var dates = [];
            var currDate = moment('{{ prevPeriod }}').startOf('day');
            var lastDate = moment('{{ nextPeriod }}').startOf('day');

            while(currDate.add(1, 'days').diff(lastDate) < 0) {
                var d_st = currDate.format('YYYY-MM-DD'),
                    arr = initial_data.bookings.filter(z => z.date == d_st); 
                
                var o = {"date": currDate.format('YYYY-MM-DD'), "usage": arr.length / 8 * 100};
                for(var i = 8; i <= 15; i++) {
                    o['am'+ i] = '1';
                    o['am'+ i +'-color'] = arr.filter( z => z.time == (i < 10 ? '0'+i : i)).length == 0 ? "#ccc" : "#449D44"; 
                }
                dates.push(o);
            }

        var defaultLocaleWeekdaysShort = 'Sun_Mon_Tue_Wed_Thu_Fri_Sat'.split('_');

        function getObj(id, arr, key) { key = key || 'id'; var o = null; $.each(arr, function (i, el) { if (el[key] == id) { o=el; return; } }); return o; };
        function getObjIndex(id, arr, key) { key = key || 'id'; var o = -1; $.each(arr, function (i, el) { if (el[key] == id) { o=i; return; } }); return o; };
        function getDisplayData(d, arr) { var o = null; $.each(arr, function (i, el) { if (el.date === d) { o=el; return; } }); return o; };
        
        function displayCurrent() {
            current = getDisplayData(current_date.format("YYYY-MM"), data);

            $('#month-title').html(current_date.format('MMMM, YYYY'));
            $('#calendar').html(tmpl('tmpl-calendar', {date: current_date, data: current}));
        }

        function refreshCurrent() {

            $.get('{{ booking_get_current }}&month=' + current_date.format("YYYY-MM"), function(data) {
                console.log(data);
            }, 'json');
        }

        $(function () {
            data.push(initial_data);

            current_date = moment(initial_data.date, "YYYY-MM");
            displayCurrent();

            //var refresh_id = window.setInterval(refreshCurrent, 400);

            $('#calendar').on('click', '.open div[id*=d_]:not(.me):not(.used)', function(event) {
                event.preventDefault();

                var _id = $(this).attr('id'),
                    _date = moment(_id,'#_M_D_H');
                
                console.log(_date.format('YYYY-MM-DD HH:mm:ss'));
                
                $.post('{{booking_pre}}', { title: 'Test', date: _date.format('YYYY-MM-DD HH:mm:ss') }, function( data ) {
                   
                   console.log(data.success);
                    if (data.success) {
                        $('#myModal').modal('show');
                    } else {
                        alert( "error" );
                    }
                }, 'json').fail(function() {
                    alert( "error" );
                });                
            });

            $('#calendar').on('click', 'div.me[id*=d_]', function(event) {
                event.preventDefault();
                
                var _id = $(this).attr('id'),
                    _date = moment(_id,'#_M_D_H'),
                    _o = initial_data.bookings.filter( z => (z.date == _date.format('YYYY-MM-DD')) && (z.time == _date.format('HH')) && (z.isme === "1"));

                if (_o.length == 1) {
                    _o = _o[0];
                    console.log(_o);

                    $.get(('{{booking_get}}').replace('{id}', _o.id), function(data){
                        console.log(data);

                        $('#myModal').modal('show');
                    }).fail(function() {
                        alert( "error" );
                    });
                }
            });

            $('#month-title-container').on('click', '.glyphicon-chevron-left', function(event) {
                event.preventDefault();
                current_date.subtract(1, 'months');
                displayCurrent();
            });

            $('#month-title-container').on('click', '.glyphicon-chevron-right', function(event) {
                event.preventDefault();
                current_date.add(1, 'months');
                displayCurrent();
            });

            $(".nav-tabs").on('click','a', function(event){
                event.preventDefault();
                $('.nav-tabs li').removeClass('active');
                $(this).parent().addClass('active');
                $('.tab-content').hide();
                $('#' + $(this).prop('rel')).show();
            });

            $(".nav-pills").on('click','a', function(event){
                event.preventDefault();
                var li = $(this).parent(),
                    goto = li.data('goto');
                console.log(goto);
                if(goto == 'today') {
                    current_date = moment();
                    displayCurrent();
                }
            });

            {% if isAdmin %}

            var graphs = [];
            for (var i = 15; i >= 8; i--) {
                graphs.push({
                    "balloonText": "",
                    "fillAlphas": 0.8,
                    "fillColorsField": "am"+ i +"-color",
                    "lineColorField": "am"+ i +"-color",
                    "id": "graph-am"+ i,
                    "lineAlpha": 0.2,
                    "type": "column",
                    "valueAxis": "Days",
                    "valueField": "am"+ i
                });
            }
            graphs.push({
                "id": "graph-occ",
                "balloonText": "[[value]]",
                "fillColors": "#FF0000",
                "title": "graph 3",
                "valueAxis": "Occupancy",
                "valueField": "usage",
                "visibleInLegend": false
            });

    var times = ['', '15:00', '14:00', '13:00', '12:00', '11:00', '10:00', '09:00', '08:00', '', ''];

AmCharts.makeChart( "view", {
	"type": "serial",
	"categoryField": "date",
	"dataDateFormat": "YYYY-MM-DD",
	"sequencedAnimation": false,
    "pathToImages": "http://cdn.amcharts.com/lib/3/images/", // required for grips
	"categoryAxis": {
		"parseDates": true,
        "labelFrequency": 1,
        "fontSize": 11,
        "labelRotation": 90,	
        "gridAlpha": 0,
        "tickLength": 2,
        //"categoryFunction": function (category, dataItem, categoryAxis) {
        //    console.log(category);
        //    return moment(category).format("MMM DD");
        //}
	},
	"trendLines": [],
	"graphs": graphs,
	"guides": [],
    "chartScrollbar": {
        "graph": "graph-occ",
        "graphType": "line",
        "scrollbarHeight": 30
    },
	"valueAxes": [
		{
			"id": "Days",
			"maximum": 10,
			"minimum": 0,
			"stackType": "regular",
			"autoGridCount": false,
            "showFirstLabel": false,
			"showLastLabel": false,
			"title": "",
            gridCount: 10,
            labelFunction: function(value, valueText, valueAxis) {
                return times[value];
            }
		},
		{
			"id": "Occupancy",
			"maximum": 100,
			"minimum": 0,
			"position": "right",
			"axisColor": "#666666",
			"axisThickness": 0,
			"title": "Occupancy %"
		}
	],
	"allLabels": [],
	"balloon": {},
	"titles": [],
	"dataProvider": dates,
    "listeners": [{
        /*
        "event": "rendered",
        "method": function(e) {
            e.chart.valueAxes[0].zoomToValues(moment().startOf('month').format('YYYY-MM-DD'), moment().endOf('month').format('YYYY-MM-DD'));
        }*/
        event: "rendered",
        method: function(e) {
            var a = getObjIndex(moment().startOf('month').format('YYYY-MM-DD'), dates, 'date'),
                b = getObjIndex(moment().endOf('month').format('YYYY-MM-DD'), dates, 'date');

            e.chart.zoomToIndexes(a, b); //set default zoom
        }
    }]
});

/**
 * Line Chart #2
 */
AmCharts.makeChart( "line2", {
  "type": "serial",
  "dataProvider": [ {
    "day": 1,
    "value": 120
  }, {
    "day": 2,
    "value": 54
  }, {
    "day": 3,
    "value": -18
  }, {
    "day": 4,
    "value": -12
  }, {
    "day": 5,
    "value": -51
  }, {
    "day": 6,
    "value": 12
  }, {
    "day": 7,
    "value": 56
  }, {
    "day": 8,
    "value": 113
  }, {
    "day": 9,
    "value": 142
  }, {
    "day": 10,
    "value": 125
  } ],
  "categoryField": "day",
  "autoMargins": false,
  "marginLeft": 0,
  "marginRight": 5,
  "marginTop": 0,
  "marginBottom": 0,
  "graphs": [ {
    "valueField": "value",
    "showBalloon": false,
    "lineColor": "#ffbf63",
    "negativeLineColor": "#289eaf"
  } ],
  "valueAxes": [ {
    "gridAlpha": 0,
    "axisAlpha": 0,
    "guides": [ {
      "value": 0,
      "lineAlpha": 0.1
    } ]
  } ],
  "categoryAxis": {
    "gridAlpha": 0,
    "axisAlpha": 0,
    "startOnAxis": true
  }
} );

/**
 * Column Chart #2
 */
AmCharts.makeChart( "column2", {
  "type": "serial",
  "dataProvider": [ {
    "day": 1,
    "value": -5
  }, {
    "day": 2,
    "value": 3
  }, {
    "day": 3,
    "value": 7
  }, {
    "day": 4,
    "value": -3
  }, {
    "day": 5,
    "value": 3
  }, {
    "day": 6,
    "value": 4
  }, {
    "day": 7,
    "value": 6
  }, {
    "day": 8,
    "value": -3
  }, {
    "day": 9,
    "value": -2
  }, {
    "day": 10,
    "value": 6
  } ],
  "categoryField": "day",
  "autoMargins": false,
  "marginLeft": 0,
  "marginRight": 0,
  "marginTop": 0,
  "marginBottom": 0,
  "graphs": [ {
    "valueField": "value",
    "type": "column",
    "fillAlphas": 1,
    "showBalloon": false,
    "lineColor": "#ffbf63",
    "negativeFillColors": "#289eaf",
    "negativeLineColor": "#289eaf"
  } ],
  "valueAxes": [ {
    "gridAlpha": 0,
    "axisAlpha": 0
  } ],
  "categoryAxis": {
    "gridAlpha": 0,
    "axisAlpha": 0
  }
} );

            {% endif %}
        });
    </script>

{{ source('Booking-tmpl.html', ignore_missing = true) }}

{% endblock %}
